@model DepartmentEditViewModel
<form asp-controller="Department" asp-action="UpdateDepartment" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group row">
        <label asp-for="Name"></label><br>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-info">Update deparmtent</button>
</form>