<div class="toolbar">

  <button id="addVideoBtn"
      type="button"
      class="btn btn-link button-secondary"
      (click)="addVideo()"
      title="Add book">
      <span class="dx-icon-add" aria-hidden="true"></span>
  </button>

  <label>User: </label>
  <input type="text" [(ngModel)]="usernameSearchField"> 

  <button id="searchVideosBtn"
    type="button"
    class="btn-primary"
    (click)="getVideosFromUser()">
    Search Videos
  </button>

  <button id="myVideosBtn"
    type="button"
    class="btn-primary"
    (click)="getVideosFromLoggedInUser()">
    My Videos
  </button>
  <div class="right-bar">
    <button (click)="logout()">Logout</button>
  </div>
</div>
  
  
  