<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of dataSource">
      <td><span>{{user.id}}</span></td>
      <td><span>{{user.name}}</span></td>
      <td><span>{{user.email}}</span></td>
      <td><span>{{user.password}}</span></td>
      <td> <button class='btn btn-danger' ng-click="deleteRow($index)"
                   mat-raised-button
                   (click)="deleteUser(user)"
                   color="primary">
        Delete
      </button> </td>
    </tr>
    </tbody>
  </table>
  <button
  mat-raised-button
  color="primary"
  (click) = "goToBooks()"
  class="books-button">
  Go To Books
  </button>
  <button
    mat-raised-button
    color="primary"
    (click) = "create()"
    class="create-button">
    Create
  </button>
</div>
<div>
</div>


