<div class="edit-book">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center; ">Edit Book</mat-card-title>
    <mat-card-content>
      <form action="">
        <div>
          <mat-form-field>
            <input
              matInput
              placeholder="Title"
              [(ngModel)]="selectBook.title"
              [required]="false"
              name="title"
              ngModel
              #title="ngModel">
            <mat-icon matSuffix>title</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              placeholder="Author"
              [(ngModel)]="selectBook.author"
              [required]="false"
              name="author"
              ngModel
              #author="ngModel">
            <mat-icon matSuffix>author</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              placeholder="genre"
              [(ngModel)]="selectBook.genre"
              [required]="false"
              name="genre"
            >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              placeholder="quantity"
              [(ngModel)]="selectBook.quantity"
              [required]="false"
              name="quantity"
              ngModel
              #quantity="ngModel">
            <mat-icon matSuffix>quantity</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              placeholder="price"
              [(ngModel)]="selectBook.price"
              [required]="false"
              name="price"
              ngModel
              #price="ngModel">
            <mat-icon matSuffix>price</mat-icon>
          </mat-form-field>
        </div>
        <button
          mat-raised-button
          color="primary"
          class="save-button"
          (click)="edit()">
          Save
        </button>
        <button
          mat-raised-button
          color="primary"
          class="create-button"
          (click)="create()">
          Create
        </button>
        <button
          mat-raised-button
          color="primary"
          (click) = "close()"
          class="close-button">
          Close
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
