<div class="edit-user">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center; ">Edit User</mat-card-title>
    <mat-card-content>
      <form action="">
        <div>
        <mat-form-field>
          <input
            matInput
            placeholder="Username"
            [(ngModel)] = "createUser.username"
            [required]="false"
            name="username"
            ngModel
            #username="ngModel">
          <mat-icon matSuffix>username</mat-icon>
        </mat-form-field>
        </div>
        <div>
        <mat-form-field>
          <input
            matInput
            placeholder="Email"
            [(ngModel)] = "createUser.email"
            [required]="false"
            name="email"
            ngModel
            #email="ngModel">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        </div>
        <div>
        <mat-form-field>
          <input
            matInput
            placeholder="Password"
            [(ngModel)] = "createUser.password"
            [required]="false"
            name="password"
            ngModel
            #password="ngModel">
          <mat-error
            *ngIf="password.errors && password.errors['required']">
            Password is required
          </mat-error>
          <mat-error
            *ngIf="password.errors && password.errors['minlength']">
            Password must be of length 6
          </mat-error>
          <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
        </div>
        <button
          mat-raised-button
          color="primary"
          (click)="signUp();"
          class="login-button">
          Save
        </button>
        <button
          mat-raised-button
          color="primary"
          (click) = "close()"
          class="login-button">
          Close
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
