# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\FACULTA\AN3_SEM2\Assignment1\sd-2022-hw\Assignment 2\Chindea Tudor - Eugen\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
